body {
    font-family: "Roboto", Arial,sans-serif;
    font-weight: 100;
    font-style: normal;
    color:white;
  }

  * {
    background-color: black;
   }

h1
{text-align: Center;
} 

h2
{display:block;width:60%;margin:auto;}

p 
{display:block;width:60%;margin:auto;}

h3
{text-align: left;
} 

h4
{text-align: right;
}